header {
  min-height: 15vh;
  width: 100%;

  background-image: url("./assets/img/imageHeaderplage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  padding: auto;
  margin-bottom: 5vh;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  min-height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

body {
  background: linear-gradient(#e21414, #db9b10, #e5f505);
}

.imgHeader {
  height: 10vh;
  width: 100%;
}

nav ul {
  color: firebrick;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10 px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  background-color: cyan;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  opacity: 0.5;
}

nav ul li:hover {
  opacity: 1;
}

.titre {
  min-height: 5vh;
  width: 100%;
  color: antiquewhite;
  background-image: url("./assets/img/etoiles.webp");
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin: 5vh;
}

.images {
  text-align: center;
}

.texte {
  min-height: 20vh;
  width: 100%;
  text-align: center;
}

.caroussel {
  min-height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  min-height: 10vh;
  width: 100%;
  background-image: url("./assets/img/etoiles2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;

  margin-bottom: 2vh;
  margin-top: 2vh;
}

footer .navFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: antiquewhite;
  margin-top: 10%;
  margin-bottom: 10%;
}

footer .navFooter i {
  font-size: 3rem;
}
h1 {
  min-width: 50%;
  text-align: center;
}
.images {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.images img {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 50%;
  margin: 10px;
  padding: 10px;
}

.imageAccueil1 {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.imageAccueil1 img {
  height: auto;
  width: 30%;
  display: flex;
  justify-content: center;
}
