header {
  min-height: 15vh;
  width: 100%;

  background-image: url("./assets/img/imageHeaderplage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 5vh;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul img {
  min-height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

body {
  background: linear-gradient(#e21414, #db9b10, #e5f505);
}

.imgHeader {
  height: 10vh;
  width: 100%;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10 px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.titre {
  min-height: 5vh;
  width: 100%;
  color: antiquewhite;
  background-image: url(./assets/img/etoiles.webp);
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
